@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@400;600&display=swap');

*{
     margin: 0;
     padding: 0;
     border: 0;
}

label {
     cursor: pointer;
     display: block;
}

body{
     font-family: 'Poppins', sans-serif;
     background: linear-gradient(to left, #19181F, #1E1E26);
     
     
}

/* 
* Cabeçalho 
*/

header .nav{
      display: grid;
      grid-gap: 2.4rem;
      background: rgba(0, 0, 0, 0.274); 
      align-items: center;
      
      
}

.logo h1{
      color: #fff;
      font-size: 2.5em;
      font-weight: 900;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin: 0.5em 0;
}

.menu{

        border-bottom: 0.1rem solid #333;


}

header .nav div {
    text-align: center;
}

.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    margin: 0 1.6rem;
    text-decoration: none;
}
.menu a:hover{
    
    color: #e2aa4a;
    transition: color 200ms;
    
}

/* 
* Body
*/

.main{
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    box-shadow: 0 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.274);
    
}

.container {
    background-color: #121214;
    color: #efefef;
    width: 100%;
    margin-bottom: 4rem;
    width: 70%;


    padding: 3rem 4rem;
        
 }

 .container1{
    width: 50%;
    margin: 0 auto;
    /* Flex rules */
    display: flex;
    padding-top: 3rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
 }
    
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
    padding-bottom: 1.5rem;
    border-bottom: 0.2rem solid #e4e1e1;

}

.add{
    text-decoration: none;
    display: inline-block;
    width: 3rem;
    background: #8bc34a;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background 200ms;
}

.add:hover{
    background: #7cb342;
}

/* 
* Valores dinâmicos
*/

.flex{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.delete{
    text-decoration: none;
    display: inline-block;
    background: #f44336;
    color: #fff;

    font-size: 1.5rem;
    font-weight: bold;
    width: 3rem;
    height: 3rem;

    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background 200ms;
}

.delete:hover{
    background: #c62828;
}

input{
    padding: 0.5rem 1rem;
    background: #ddd;
    border: none;
    width: 60%;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}
input:focus{
    outline: 0.1rem solid #efefef;
}

.inp-grupo{
    margin-bottom: 2rem;
}

#generate{
    background-color: #2d1b5a;
    border: none;
    padding: 1.2rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 200ms;
    width: 100%;

}

#generate:hover{
    background: #342853;

}

#canvas{
  width: 60em;
    height: 60rem;
}

.canvas-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    

  }
  
  /* Style the button that is used to open and close the collapsible content */
  .collapsible-button{
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    padding: 0 1rem;
    border: none;
    text-align: left;
    outline: none;
    font-size: 5rem;
    font-weight: bold;
  }
  /* Style the collapsible content. Note: hidden by default */
  .content {
    width: 20rem;
    padding: 0 1.8rem;
    display: none;
    overflow: hidden;
  }

  .the_wheel{
    width: 43rem;
     height: 58rem;
  }
  
  .todo-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  span {
    border-radius: 0.4rem;
    vertical-align: text-top;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.6rem;
  }
  
  li{
    padding-top: 1rem;
  }
  
  .delete-todo {
    vertical-align: middle;
  }
  
  input[type="image" i] {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .delete-button {
    color: red;
    background-color: transparent;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-weight: bold;
  }
  
  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 1rem;
    border-radius: 0.4rem;
    border: 0.3rem solid #000;
  }
  
  /* Add this below all the other styles */
  .empty-state {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .checklist-icon {
    margin-bottom: 2rem;
  }
  
  .empty-state__title, .empty-state__description {
    margin-bottom: 2;
  }
  
  /* Add this below the other styles */
  .todo-list:empty {
    display: none;
  }
  
  .todo-list:empty + .empty-state {
    display: flex;
  }

  .img {
    text-align: center;
    width: 100%;
    margin-top: 0.8rem;
    padding-top: 11.2rem;
    position:absolute;
    top:0px;
  }


  