<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/sign_up.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <title>SorteioFast │ Cadastre-se</title>
</head>
<body>
  <!-- validar no JS...<a href="../html/draw.html" target="_blank">roda roda roda</a>-->
  <form action="#" method="get">
    <div id="container">

      <div id="sign_in">
        <h1>Cadastre-se</h1>
        <p>Preencha os campos e crie uma nova conta</p>
      </div>

      <div class="inputs">
        <label for="username">username</label>
        <span class="material-symbols-outlined figuras">person</span>
        <input id="username" class="box-input" type="text" name="username" required>
      </div>
      <div class="inputs">
        <label for="email">email</label>
        <span class="material-symbols-outlined">mail</span>
        <input id="email" class="box-input" type="email" name="email" required>
      </div>
      <div class="inputs">
        <label for="password">password</label>
        <span class="material-symbols-outlined">lock</span>
        <input id="password" class="box-input" type="password" name="password" minlength="8" required>
      </div>
      <div class="inputs">
        <label for="password">Repeat password</label>
        <span class="material-symbols-outlined">lock</span>
        <input id="password2" class="box-input" type="password" name="password" minlength="8" required>
      </div>

      <div>
        <button id="botao" type="submit" onclick="createUser()">Cadastrar</button>
      </div>

      <span class="signIn">Já possui uma conta? <a href="sign_in.html" target="_self">Clique aqui</a></span>

      
      <!--pq q quando rez muito a tela o botão de logar sai do container ao passo que os inputs n?-->
    </div>
  </form>
</body>
<script defer src="users/function_user.js"></script>
</html>

