<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="roleta/Winwheel.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
  <link rel="stylesheet" href="../../css/draw.css">

  <title>SorteioFast</title>

</head>
<body>

    <input id="close-menu" class="close-menu" type="checkbox" aria-label="Close manu" role="button">
          <label class="close-menu-label" for="close-menu" title="close-menu"></label>
          <aside class="menu black-bg">
               <div class="main-content menu-content">
                    <h1 onclick="getElementById('close-menu').checked = false;"><a href="#home"><b class="color-title">Sorteio</b>Fast</a></h1>
                    <nav>
                         <ul onclick="getElementById('close-menu').checked = false;">
                              <li><a href="#Sorteio">Sorteio</a></li>
                              <li><a href="#Resultados">Resultados</a></li>
                              <li><a href="#contact-form">Contato</a></li>
                              <li><a href="./../login-page/sign_in.html" target="_blanck">Sign In</a></li>
                              <li><a href="./../login-page/sign_up.html" target="_blanck">Sign up</a></li>

                         </ul>
                    </nav>
               </div>
          </aside>

          <div class="menu-spacing"></div>
  
  <div class="container1">
    <div class="arrow-container">
        <img src="../../../resources/arrow.png">
    </div>
    <div class="wheel-container">
        <td  class="the_wheel">
            <button onClick="startSpin();" type="button" class="canvas-button">
                <canvas id="canvas" width="800" height="800"></canvas>
            </button>
        </td>
    </div>
</div>
  <div class="main">
    <div class="container">
      <div class="cabecalho">
        <h2>Adicionar novo elemento.</h2>
      </div>
      <button type="button" href="#" class="collapsible-button">+</button>
      <div class="content">
        <form class="js-form">
            <input autofocus type="text" aria-label="Enter a name to add" placeholder="Enter a name to add" class="js-name-input">
        </form>
        <ul class="todo-list js-name-list"></ul>
        <div class="empty-state">
        </div>
    </div>
  </div>
  </div>
 
  
        <footer id="footer" class="white-bg">
          <p class="rodapeP">Feito com <b class="heart">❤</b> por<a rel="nofollow" target="_blank" href="https://github.com/GustavoBarbosa08/"> Gustavo </a> <a  rel="nofollow" target="_blank" href="https://github.com/LuishFelipe">Luís</a> <a rel="nofollow" target="_blank" href="https://github.com/nataovaz">Natan</a></p>
        </footer> <!--falta fazer o media query aqui-->


        <script src="roleta/WheelScript.js"></script>
</body>
</html>